html, body{
    height: 570px;
    width: 700px;
    padding-top: 0;
    font-size: 0.85em;
    overflow: hidden;
}

.content-wrapper{
    padding: 20px;
    height: 580px;
    overflow-y: scroll;
}

#app {
}